#pageHead {
	cursor: default;
}

h1:hover {
	cursor: move;
}

.sect {
	border: solid 5px black;
	background-color: white;
}

.sect:hover {
	cursor: move;
}

.list-group-item {
	padding: 3px 10px
}

#coin {
	margin-right: -3em;
}

#spellLists ul {
	padding-top: 1%;
}

#names {
	padding-bottom: 10px;
}

.modable,
.modableClass,
.modableRace,
.modableAbil,
.modableSkill,
.modableSpellClass {
	text-decoration: underline;
}

.modable:hover,
.modableClass:hover,
.modableRace:hover,
.modableAbil:hover,
.modableSkill:hover,
.modableSpellClass:hover {
	color: blue;
	cursor: pointer;
}

#spellLists label button,
input {
	margin: auto;
}

h1 button {
	margin-left: 10px;
}

a {
	background-color: lightgray;
}

.highlight {
	height: 5em;
	border: 1px solid black;
	background-color: lightblue;
}
